<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form [formGroup]="IPForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="IP1" class="left">IP 1</label>
        <input type="text"
               id="IP1"
               class="form-control"
               formControlName="IP1">     
      </div>
      <div class="form-group" *ngIf="compteur==1">
        <label for="IP2" class="left">IP 2</label>
        <input type="text"
               id="IP2"
               class="form-control"
               formControlName="IP2">     
      </div>      
      
      <div class="text-right">
       <button type="button" class="btn btn-success btn-circle btn-lg" (click)="increasecompteur()"><i class="glyphicon glyphicon-plus"></i></button>
       <button *ngIf="compteur==1"type="button" class="btn btn-danger btn-circle btn-lg" (click)="decreasecompteur()"><i class="glyphicon glyphicon-minus"></i></button>
        </div>
        <div>
            <button class="btn btn-success"
              type="submit"
              [disabled]="IPForm.invalid">Connexion</button></div>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>

