
        <div class="container">
        <div class="row mx-auto">
            <div class="row mx-auto">
                <h2 class="text-center">{{getStatus()}}</h2>
            </div>
            <div class="row mx-auto" style="height:200px;">
                <img [src]="geturl()" width="200px">
            </div>
            <div class="mx-auto">
                        <button [ngClass]="{
                        'btn btn-circle btn-lg glyphicon glyphicon-off':true,
                        'btn btn-success':lampeStatus==0,
                        'btn btn-danger':lampeStatus==1
                        }"
                        (click)="click()">
                        <i class="icon-play"></i>
                    </button>
            </div>
            <div>
                <p class="text-danger">{{errorMessage }}</p>
            </div>

        </div>
   
                          
 







    <!--
        <div *ngIf="lampeStatus==1">
                    <img ng-src="assets/light-bulb.png" width="100px"></div>
                    <div>
             <div *ngIf="lampeStatus==0">
            <img src="assets/light-off.png" width="100px"></div>
             <div>

         <div><button [ngClass]="{
                            'btn btn-circle btn-lg':true,
                            'btn btn-warning':lampeStatus==1,
                            'btn btn-secondary':lampeStatus==0
                            }"
                        >
                        
                        </button>
                    </div> -->
